.label {
  font-size: 14px;
  line-height: 20px;
  margin-right: 4px;
}
.input {
  background-color: var(--background);
  border: 1px solid var(--secondary-transparent);
  border-radius: 4px;
  color: var(--text);
  font-size: 14px;
  line-height: 20px;
  width: 100%;
}
.input:hover,
.input:active,
.input:focus-visible {
  border: 1px solid var(--secondary);
  outline: none;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input[type="number"] {
  appearance: textfield;
}
