.errorContainer {
  position: absolute;
  min-height: 24px;
  width: 100%;
  z-index: 1;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  background-color: var(--background);
}

.error {
  font-size: 14px;
  line-height: 20px;
  width: 100%;
  color: var(--error-text);
  padding: 0 4px;
  margin: 0;
  border-radius: 4px;
}
