.container {
  min-height: 22px;
  width: 100%;
  margin-bottom: 8px;
  padding: 0 4px;
  display: flex;
  align-items: center;
}

.rowInput::-webkit-outer-spin-button,
.rowInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.rowInput[type="number"] {
  appearance: textfield;
}

.button {
  margin-left: auto;
}
