html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  --text: #ffffff;
  --background: #17181c;
  --primary: #1fb9f2;
  --secondary: #4e5d43;
  --accent: #709973;
  --error-text: #de3030;
  --error-background: #842424;

  background-color: var(--background);
  color: var(--text);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
