.main {
  padding: 0 32px;
  display: flex;
  flex-direction: column;
}

.top-section {
}

.bottom-section {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media (min-width: 768px) {
  .bottom-section {
    flex-direction: row;
    min-height: 50vh;
  }
  .left-section,
  .right-section {
    width: 50%;
    display: flex;
    flex-direction: column;
  }
}
