.main {
  padding: 0 32px;
  display: flex;
  flex-direction: column;
}

.top-section {
}
.bottom-section {
  display: flex;
  flex-direction: row;
  min-height: 50vh;
}
.left-section {
  width: 50%;
}
.right-section {
  width: 50%;
}
